body{
    background-color: #fcf7d7;
}
#Canciones{
    display: flex;
    
    background-color: #c4c776;
    flex-direction: column;
}
.name{
    border: 5px solid #fea667;
    height: 80px;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: #724b2f;
    text-align: center;
    margin: 4px;
}
.name:hover{
    background-color: #724b2f;
}

.column{
    background-color: #d6d6d6;
    margin: 5px;
    border: 2px solid #000000;
    float:left;
}
.songs{
    width: 32%;
   
}
.meta{
    width: 66%;
}

#Cover_display{
    width: 600px;
}

.BR{
    width: 100;
}
.metaDisplay{
    font-family: Arial, Helvetica, sans-serif;
}

.Controlls{
    height: 150px;
    width: 150px;
    -ms-flex-align:end;
    background: transparent;
    border: none;
}